<div class="center-horizontal block">
  <% if @user == current_user %>
    <h1>Hello <%= @user.name %>!</h1>
  <% else %>
    <h1><%= @user.name %></h1>
  <% end %>
</div>

<div class="center-horizontal block">
  <% if !new_user(@user) %>
  <h2>Your Funds:</h2>
    <ul>
      <% @user.funds.uniq.each do |fund| %>
      <li><%= fund.symbol %></li>
      <% end %>
    </ul>
  <br><br>
  <% end %>
</div>

<div class="center-horizontal block">
  <% if new_user(@user) %>
    <p>You don't have any investments yet. To begin, explore our funds to find your first investment or create your own through the menu below.</p>
    <br><br>
  <% else %>
    <h2>Your Investments:</h2>
    <table>
      <tr>
        <th>Fund:</th>
        <th>Quantity:</th>
        <th>Price:</th>
        <th>Date Created:</th>
        <% if @user == current_user %>
          <th>Delete:</th>
        <% end %>
      </tr>
    <% @user.investments.order(created_at: :desc).each do |investment| %>
      <tr>
        <td><%= investment.fund.symbol%></td>
        <td><%= investment.quantity%></td>
        <td><%= investment.price%></td>
        <td><%= investment.created_at.strftime("%m/%d/%Y") %></td>
        <% if @user == current_user %>
          <td><%= button_to "Sell", user_investment_path(current_user, investment), method: :delete, data: {confirm: "Please confirm deletion:"} %>
        <% end %>
      </tr>
      <% end %>
      <div id="render_new_investment">
      </div>
    </table>
    <br><br>
  <% end %>
</div>

<div class="center-horizontal block">
  <h1>New Investment:</h1>
  <div>
    <%=render partial: 'investments/form', locals: {user: @user, investment: @investment}%>
  </div>
</div>
