<div class="center-horizontal block">
  <% if @user == current_user %>
    <h1>Hello <%= @user.name %>!</h1>
  <% else %>
    <h1><%= @user.name %></h1>
  <% end %>
</div>

<br>
<div class="center-horizontal block">
  <% if !new_user(@user) %>
  <h2>Your Funds:</h2>
    <ul>
      <% @user.funds.uniq.each do |fund| %>
      <li><%= link_to "#{fund.symbol}", fund_path(fund) %>
      <% end %>
      <li id="create-new-fund"></li>
    </ul>
  <br><br>
  <% end %>
</div>

<div class="center-horizontal block">
  <% if @user.investments.empty? %>
    <p id="new-user-message">You don't have any investments yet. To begin, explore our funds to find your first investment or create your own below.</p>
  <% end %>
</div>

<div class="center-horizontal block">
  <h2>Your Investments:</h2>
  <table>
    <tr id="investment-headers">
      <th>Fund:</th>
      <th>Quantity:</th>
      <th>Price:</th>
      <th>Created:</th>
      <% if @user == current_user %>
        <th>Delete:</th>
      <% end %>
    </tr>
  <% @user.investments.order(created_at: :asc).each do |investment| %>
    <tr id="#user-<%= @user.id %>-investment-<%= investment.id %>">
      <td><%= investment.fund.symbol%></td>
      <td><%= investment.quantity%></td>
      <td><%= investment.price%></td>
      <td><%= investment.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= button_to "Sell", user_investment_path(current_user, investment), method: :delete, id:"delete-investment", data: {confirm: "Please confirm deletion:"} %>
    </tr>
    <% end %>
    <tr id="render-new-investment">
      <td id="investment-fund-symbol"></td>
      <td id="investment-quantity"></td>
      <td id="investment-price"></td>
      <td id="investment-created-at"></td>
      <td id="investment-delete"></td>
    </tr>
  </table>
  <br><br>
</div>

<br>
<div class="center-horizontal block">
  <div>
    <%=render partial: 'investments/form', locals: {user: @user, investment: @investment}%>
  </div>
</div>
