<div class="center-horizontal block">
  <% if @user == current_user %>
    <h1>Hello <%= @user.name %>!</h1>
  <% else %>
    <h1><%= @user.name %></h1>
  <% end %>

  <h2>Investments</h2>
  <% if new_user(@user) %>
    <p>You don't have any investments yet. To begin, explore our funds to find your first investment or create your own below:<p>
  <% else %>
    <table style="width:100%">
      <tr>
        <th align="left">Fund:</th>
        <th align="left">Quantity:</th>
        <th align="left">Price:</th>
        <th align="left">Date Created:</th>
        <% if @user == current_user %>
          <th align="left">Delete:</th>
        <% end %>
      </tr>
    <% @user.investments.order(created_at: :desc).each do |investment| %>
      <tr>
        <td><%= investment.fund.symbol%></td>
        <td><%= investment.quantity%></td>
        <td><%= investment.price%></td>
        <td><%= investment.created_at.strftime("%m/%d/%Y") %></td>
        <% if @user == current_user %>
          <td><%= button_to "Sell", user_investment_path(current_user, investment), method: :delete, data: {confirm: "You sure?"} %>
        <% end %>
      </tr>
      <% end %>
    </table>
    <br><br>
  <% end %>

<% if !new_user(@user) %>
<h2>Funds</h2>
  <ul>
    <% @user.funds.uniq.each do |fund| %>
    <li><%= fund.symbol %></li>
    <% end %>
  </ul>
<br><br>
<% end %>
</div>
